{% extends 'base.html' %}
{% block title %} login pet {% endblock %}
{% block content %}
<div class="p-5 d-flex justify-content-center mt-3">
    <form enctype="multipart/form-data" class="p-3 bg-success rounded" method="POST">{% csrf_token %}
        <h2 class="p-3">Login Pet</h2>
        {{ form.as_p }}
        <div class="pb-4">
            <button type="submit" class="btn btn-primary btn-block">Entrar</button>
        </div>
        <p><a href="{% url 'signup' %}" class="text-white">cadastre-se</a></p>
    </form>
</div>
{% endblock %}
