{% extends 'base.html' %}

{% block title %} lista de pets {% endblock %}

{% block content %}
<div class="row row-cols-1 row-cols-md-4 p-3">
    {% for pet in pets %}
    <div class="col mb-4">
      <div class="card">
        <img src="{{ pet.photo.url }}" width="260" height="140" class="card-img-top">
        <div class="card-body">
          <p><strong>Cidade: </strong>{{ pet.city }}</p>
          <p>{{ pet.bigen_date }}</p>
          <a href="{% url 'detail_pet' pet.id %}">veja mais ...</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  
  <div class="pagination d-flex justify-content-center p-3">
    <span class="step-link">
      {% if products.has_previous %}
      <a href="?page={{ pets.previous_page_number }}">voltar</a>
      {% endif %}
  
      <span class="current">
        {{ pets.number }} | {{  pets.paginator.num_pages }}
      </span>
  
      {% if products.has_next %}
      <a href="?page={{ pets.next_page_number }}">proximo</a>
      {% endif %}
    </span>
  </div>
{% endblock %}
