{% extends 'base.html' %}

{% block content %}
<form class="p-3" method="POST">
    <div class="form-group">
      <label for="exampleInputEmail1">Cidade</label>
      <input type="text" class="form-control" id="city" name="city" id="city">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Contato</label>
      <input type="text" class="form-control" id="city" name="phone" id="phone">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">E-mail</label>
      <input type="text" class="form-control" id="email" name="email">
    </div>
    <div class="form-group">
        <textarea placeholder="fale sobre seu pet..." name="description" id="description" cols="50" rows="5"></textarea>
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" name="active" id="active">
      <label class="form-check-label" >Publicar</label>
    </div>
    <div class="form-group">
        <label for="exampleFormControlFile1">escolha sua image</label>
        <input type="file" class="form-control-file" id="photo" name="photo">
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
</form>

{% endblock %}
