{% extends 'base.html' %}
{% block title %} register pet {% endblock %}
{% block content %}
<div class="p-3 d-flex justify-content-center">
    <form enctype="multipart/form-data" class=" pr-5 pl-5 bg-success rounded" method="POST">{% csrf_token %}
        <h2 class="p-1">Cadastra Usuario</h2>
        <div class="form-group">
            <label for="exampleInputEmail1">nome e sobroname</label><br>
              {{ form.username }}
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">email</label><br>
            {{ form.email }}
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">senha</label><br>
            {{ form.password1 }}
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">confirma senha</label><br>
            {{ form.password2 }}
          </div>
        
        <div class="pb-4">
            <button type="submit" class="btn btn-primary btn-block">Entrar</button>
        </div>
    </form>
</div>
{% endblock %}

<form>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>